body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #87ceeb;
}

.title {
  color: #333;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8a2be2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hidden {
  display: none;
}

#base64Textarea {
  width: 80%;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
  resize: none;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8a2be2
  );
  color: black;
  font-family: monospace;
  border: 2px solid lime;
}

button {
  background-color: #fb7efd;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f5f5f5;
}

.choose-file-btn {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8a2be2
  );
  color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

.choose-file-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.emoji {
  font-size: 24px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input::file-selector-button {
  background-color: #f5f5f5;
}